source https://www.nuget.org/api/v2
nuget FAKE
nuget FSharp.Core
nuget FSharp.Data

group YtcastsFS
source https://www.nuget.org/api/v2

nuget FSharp.Data

group YtcastsF
source https://www.nuget.org/api/v2

nuget FSharp.Data